[submodule "catalog"]
	path = catalog
	url = git@github.com:Eliaveta88/catalog.git
[submodule "finance"]
	path = finance
	url = git@github.com:Eliaveta88/finance.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:Eliaveta88/frontend.git
[submodule "identity"]
	path = identity
	url = git@github.com:Eliaveta88/identity.git
[submodule "logistics"]
	path = logistics
	url = git@github.com:Eliaveta88/logistics.git
[submodule "orders"]
	path = orders
	url = git@github.com:Eliaveta88/orders.git
[submodule "warehouse"]
	path = warehouse
	url = git@github.com:Eliaveta88/warehouse.git
